
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo {
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
}

.header__center {
    display: flex;
    width: 40%;
    border: 1px solid lightgray
}
.search__input  {
    border: none
}

.header__searchbutton {
    width: 50px !important;
    border-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 12px;
}

.header__center > input {
    flex: 1;
}
