.sidebar {
    display: flex;
    flex: 0.2 0 100px;
    flex-flow: column nowrap;
    
    justify-content: flex-start;
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}