.videocard{
    width: 270px;
    margin-bottom: 20px;
}

.videocard_image{
    height: 140px;
    width : 250px
}

.videocard_info{
    display : flex;
    margin-top: 10px;
    padding-right: 30px;
    font-size: medium;
}

.videocard_text{
    margin-left: 15px;
    font-size: smaller;
}

.videocard_text > h4 {
    font-size: 14px;
    color: gray;
}

.videocard_avatar {
    height: 30px !important;
    width: 30px !important;
}

.videocard_text > * {
    margin: 1px;
}