.sidebarrow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarrow__icon {
    color: #606060;
    font-size: large !important;
}

.sidebarrow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebarrow:hover {
    background-color: lightgray;
    cursor: pointer
}

.sidebarrow:hover >.sidebarrow__icon {
    color: red
}

.sidebarrow:hover >.sidebarrow__title {
    font-weight: bold;
}

.sidebarrow.selected {
    background-color: lightgray;
}

.sidebarrow:hover {
    background-color: rgb(233, 229, 229);
}
.sidebarrow.selected >.sidebarrow__icon {
    color: red
}

.sidebarrow.selected >.sidebarrow__title {
    font-weight: bold;
}