.recommended {
    padding: 40px 20px;
    padding-bottom: 0;
    flex: 0.8 1 600px;
    overflow-y: auto;
}

.recommended > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommended_videos {
    display: flex;
    flex-wrap: wrap;
}

.recommended_videos > * {
    margin-left: 5%;
}